<%= form_for @link, html: { multipart: true } do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <!-- <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2> -->

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, placeholder: 'Link Title', :required => true  %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image, :required => true %>
  </div>
  <div class="field">
    <%= f.text_field :url, placeholder: 'Website Link', :required => true %>
  </div>
  <div class="actions">
    <%= f.submit value: 'Add Link'  %>
  </div>
<% end %>
