<%= render 'pages/home' unless user_signed_in? %>


<% @links.each do |link| %>

	<div class="box link">
	<% if link.url.include? '.jpg' or link.url.include? '.png' or link.url.include? '.gif' %>

		<%= link_to(link) do %>
			<img src="<%= link.url %>" width="300" alt="">
		<% end %>
		</a>
		<p><%= link.title %></p>
	<% else %>

		<%= link_to image_tag(link.image.url(:medium)), link %>
		<% if link.url %>
			<p><a href="<%= link.url %>"><%= link.title %></a></p>
		<% else %>
			<p><%= link.title %></p>
		<% end %>

	<% end %>
	</div>

<% end %>

<%= will_paginate @links %>

<div id="single" data-no-turbolink>
	
</div>