<div class="link">
<% if @link.url.include? '.jpg' or @link.url.include? '.png' or @link.url.include? '.gif' %>

	<%= link_to(@link) do %>
		<img src="<%= @link.url %>" alt="">
	<% end %>
	</a>
	<p><%= @link.title %></p>
<% else %>

	<%= link_to image_tag(@link.image.url), @link %>
	<% if @link.url %>
		<p><a href="<%= @link.url %>"><%= @link.title %></a></p>
	<% else %>
		<p><%= @link.title %></p>
	<% end %>

<% end %>

<div class="notes">
<p>Posted by <%= @link.user.try(:name) %></p>
<% if @link.user == current_user %>
  <%= link_to 'Edit', edit_link_path(@link) %>
  <%= link_to 'Delete', @link, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</div>
<%= link_to 'Back', links_path %>
</div>



